<!DOCTYPE html>  
<html>  
  
<head> 

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

 <meta charset="utf-8" />
    <meta name="author" content="Script Tutorials" />
   
    <meta name="description">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" /> 
   
    <script>
var app = angular.module("myApp", []); 
app.controller("myCtrl", function($scope) {
   $scope.memberName = ["Data1", "Data2", "Data3"];
     $scope.viewLink = ["View Links","Link1", "Link2", "Link3"];
   
   
   $("#filterID").hide();
  $scope.showBtn = true;
   
   $scope.showFilters = function() {
        $("#filterID").toggle();
		
		if($scope.showBtn == true){
		$scope.showBtn = false;
		}
		else{
		$scope.showBtn = true;
		}
		 
		 
    };
   
});
</script> 
	<!-- add styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
	  <link href="css/bootstrap-min-css.css" rel="stylesheet" type="text/css" />

    <!-- add javascripts -->
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/bootstrap-min-js.js"></script>
	<script src="js/controllers.js"></script>
    <script src="js/util.js"></script>
</head>  
  
<body>  

    <div class="container" ng-app="myApp" ng-controller="myCtrl">  
           <div class=" col-xs-12 text-left boder1"><span class=""></span>Claims</div>
		   <div class="col-xs-12" style="border-bottom: 1px solid grey;">
            <div class="col-xs-7">	 </div> 	   
		   <div class="col-xs-2 text-right"><span class=""></span><a href="#"> Quarterly Summaries</a></div>
            <div class="col-xs-3 text-right"><span class=""></span><a href="#"> Statement of Payment</a></div>
           </div>
	<div class="row col-xs-12 text-right" ng-show="showBtn"><input type="button" class="btn btn-primary" ng-click="showFilters()" value="Show Filters"></div>	  
	
	<div id="filterID">
	<div class="col-xs-12">	  
     <div>Member</div><div class="select1"><select ng-model="selectedName" ng-options="x for x in memberName">
</select></div>	 
   </div>
   
   <div class="row col-xs-12">	  
     <div class="col-xs-3"><div>Search By Claim Number</div><div><input type="text" class="dropdown" value="claimNumber"></div></div>
     
    <div class="col-xs-3"><div>By Status</div><div><select ng-model="selectedName" ng-options="x for x in memberName">
</select></div></div>
     <div class="col-xs-6"></div>	
   </div>
   <div class="row col-xs-12">	  
     <div class="col-xs-6"><div>By Status</div>
	 <div><input type="text" class="dropdown" value="fromDate"> <input type="text" style="margin-left: 15%;" class="dropdown" value="toDate"></div></div>
     
    <div class="col-xs-3"><div>By Type</div><div><select ng-model="selectedName" ng-options="x for x in memberName">
</select></div></div>
     <div class="col-xs-3"></div>	
   </div>
   
   <div class="row col-xs-12 text-right"><input type="button" class="btn btn-primary" ng-click="showFilters()" value="Hide Filters"></div>
   </div>
   
   <div class="row col-xs-12" style="border-top: 1px solid grey;
    margin-top: 2%;border-bottom: 1px solid grey;">
   <div class="col-xs-6">Recent Claims</div> <div class="col-xs-6 text-right">Export</div>
   
   <div class="col-xs-2"><div>Service Date</div> <div ng-repeat="x in memberName">{{x}}</div></div>
    <div class="col-xs-2"><div>Claim Number</div> <div ng-repeat="x in memberName">{{x}}</div></div>
	 <div class="col-xs-2"><div>Submitted Amount</div> <div ng-repeat="x in memberName">{{x}}</div></div>
	  <div class="col-xs-2"><div>Status</div> <div ng-repeat="x in memberName">{{x}}</div></div>
	   <div class="col-xs-2"><div>Benefits</div> <div ng-repeat="x in memberName">{{x}}</div></div>
	    <div class="col-xs-2"><div  ng-repeat="x in viewLink" ><a href="#">{{x}}</link></div>
   
   </div>
   
   
   
   </div>
   </div>
</body>  


<style>
.boder1{
border-bottom: 1px solid grey;
}

select{
    width: 68%;
}

.select1{
   width: 31%;
}
body {
font-size: 16px;
line-height: 30px;
}
  


</style>
  
</html>  
